[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/qu3e"]
	path = thirdparty/qu3e
	url = https://github.com/MathDotSqrt/qu3e.git
[submodule "thirdparty/reactphysics3d"]
	path = thirdparty/reactphysics3d
	url = https://github.com/DanielChappuis/reactphysics3d.git
